button {
  padding: 0.8rem 1.6rem;
  font-size: 1rem;
  border-radius: var(--radius);
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  opacity: 0.9;
}

button.outline {
  background: transparent;
  border: 2px solid var(--primary);
  color: var(--primary);
}

button:not(.outline) {
  background: var(--primary);
  color: var(--card-background);
}

button.secondary {
  background: var(--card-background);
  border: 2px solid var(--primary);
  color: var(--primary);
}

button:not(.secondary) {
  background: var(--primary);
  color: var(--card-background);
}